@media (max-width: 1260px) {
  .info__item {
    padding: 30px;
  }
  .info__title {
    font-size: 16px;
  }
  .info__text {
    font-size: 14px;
  }
}

@media (max-width: 1080px) {
  .info__title {
    letter-spacing: unset;
  }
  .about__block {
    padding-right: 30px;
  }
  .services__content {
    height: 400px;
  }
}

@media (max-width: 992px) {
  .section {
    margin-bottom: 30px;
  }
  .header__logo img {
    height: 55px;
  }
  .intro__content {
    height: 530px;
    justify-content: center;
  }
  .intro__block {
    text-align: center;
  }
  .intro__title {
    font-size: 34px;
  }
  .info__item {
    padding: 20px;
  }
  .services__content {
    height: 300px;
  }
  .services__content-item {
    display: none;
  }
  .services__content:after {
    display: none;
  }
  .about {
    padding: 30px 0;
  }
  .about__wrapper {
    flex-direction: column;
  }
  .about__block {
    padding-right: 0;
    margin-bottom: 30px;
  }
  .about__img {
    height: auto;
    max-width: 100%;
  }
  .about__text {
    margin: 20px 0 30px;
    text-align: justify;
  }
  .about__link {
    font-size: 14px;
  }
  .section.process {
    padding-top: 0;
  }
  .process__title {
    margin-bottom: 10px;
    font-size: 100px;
  }
  .process__subtitle {
    margin-bottom: 30px;
  }
  .process__item {
    text-align: center;
    min-height: auto;
    padding-bottom: 20px 20px 12px;
  }
  .contacts {
    padding: 30px 0;
  }
}

@media (max-width: 850px) {
  .header__logo img {
    height: 50px;
  }
  .info {
    transform: translateY(-75px);
    /* margin-bottom: -40px; */
  }
  .wrapper {
    flex-wrap: wrap;
  }
  .block {
    width: 100%;
    margin-bottom: 20px;
  }
  .block__title {
    text-align: center;
  }
  .block__link {
    display: flex;
    justify-content: center;
  }
  .info__item {
    text-align: center;
  }
  .services__content {
    height: 450px;
    background-position: center;
  }
  .process__title {
    font-size: 100px;
  }
  .contacts__form {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .footer__wrapper {
    height: auto;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
  }
  .copyright {
    margin-bottom: 20px;
  }
}

@media (max-width: 560px) {
  .services__content {
    height: 300px;
  }
  .process__title {
    font-size: 74px;
  }

  .process__subtitle {
    font-size: 25px;
  }
  .form__row {
    margin: 0 -10px;
    flex-direction: column;
  }
  .form__group {
    pd: 0 10px;
  }
  .copyright {
    text-align: center;
  }
}

@media (max-width: 460px) {
  .header__logo img {
    height: 45px;
  }
  .intro__title {
    font-size: 26px;
  }
  .process__title {
    font-size: 40px;
  }
  .process__subtitle {
    font-size: 18px;
  }
  .block__title {
    font-size: 24px;
  }
}
